﻿
@{
    ViewBag.Title = "Welcome";
}

<h2>Welcome</h2>
<h3>@ViewBag.Mensagem</h3>
<h3>@ViewBag.NumeroVezes</h3>

<ul>
    @for(int i = 0; i < ViewBag.NumeroVezes; i++)
    {
        <li><a href="#">@ViewBag.Mensagem</a></li>
    }
</ul>