﻿@model IEnumerable<mvc.Models.Categoria>

@{
    ViewBag.Title = "Categorias";
}

<h2>Categorias</h2>

<p>
    @Html.ActionLink("Nova Categoria", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Categoria1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria1)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { sigla=item.Sigla }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.Sigla })*@ |
            @Html.ActionLink("Apagar", "Delete", new { sigla=item.Sigla })
        </td>
    </tr>
}

</table>
